body {
    background: url('../img/background.jpg');
    background-size: cover;
}

.navbar {
    background: linear-gradient(90deg, #B5E6FF, #73D0FF);
    text-decoration: none;
    color: black;
    justify-content: space-between;
}

.container {
    padding-top: 1rem;
}

#icon img {
    height: 50px;
    margin: auto 15px;
}

.navbar-toggler img {
    height: 50px;
    border-radius: .25rem;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler {
    border: none;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar-nav a {
    margin: auto 15px;
}

#nav-main {
    display: flex;
    align-items: center;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: right;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.navbar-nav .nav-item:hover {
    border-bottom: 3px solid #B5E6FF;
}

.nav-active {
    border-bottom: 3px solid #B5E6FF;
}

#brand-name {
    font-family: 'Catamaran', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: bold;
}


#top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#avatar img {
    width: 30vw;
}

#name {
    width: 40%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1.35rem;
}

#tabs {
    display: grid;
    margin: 1rem 0;
    grid-template-columns: repeat(3, 1fr);
}

#profile-tab {
    column-span: 2;
}

.tab {
    text-align: center;
    font-family: "Oswald", sans-serif;
    margin: 1rem 2rem;
    letter-spacing: 2px
}

.tab:hover {
    border-bottom: 3px solid #29B7FF;
    cursor: pointer;
}

.active-tab {
    border-bottom: 3px solid #29B7FF;
}

#tab-datas {
    display: flex;
    justify-content: space-around;
}

.tab-data {
    display: none;
    flex-direction: column;
}

.active {
    display: flex;
    width: 70%;
}

.datas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;
    border-bottom: 1px solid rgb(160, 160, 160);
}

.status {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.data a {
    width: 70%;
    text-align: right;
}

.prof-label {
    width: 30%;
}